@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  background: #f5f5f5;
}
html::-webkit-scrollbar{
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb{
  background-color: #D6D7DE;
}

html::-webkit-scrollbar-track{
  background-color: #EAEAEA;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
.shadownav {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 25px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
/* ::-webkit-scrollbar {
  width: 0.5rem;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background-color: #adadad;
} */
.imgLogo {
  height: 10rem;
  width: 25rem;
}
// header
.ant-dropdown-trigger {
  @apply text-neutral-80;
}
.flexBetween {
  @apply flex;
  @apply justify-between;
  @apply items-center;
}
.position-right {
  position: relative;
  left: 0;
  right: 0;
  top: -4rem;
}
.ant-card-body {
  padding: 18px !important;
}
.snackbar {
  bottom: 5px !important;
  background: #3e6282 !important;
}
.between {
  display: flex;
  justify-content: space-between;
}
.ant-input-password-input {
  color: red;
}

/* Rectangle 91 */
.custom-confirm-button{
  box-sizing: border-box;
  width: 229px;
  height: 57px;

  background-color: #f5f5f5;
  border: 2px solid #F98D3E;
  border-radius: 10px;
}
.custom-menu-item.active {
  background-color: #000000; /* Set the desired background color for the active menu item */
  color: #ffffff; /* Set the desired text color for the active menu item */
}
.swal2-popup {
  border-radius: 50px; /* Adjust the border-radius value to change the roundness */
}
.custom-loader {
  width:35px;
  height:35px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#10A016);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 7px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}
.custom-loader-large {
  width:150px;
  height:150px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#10A016);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 25px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}
.active {
  background-color: #58535300;
}